<h2> Item show case</h2>
<h3> Welcome to our Shop</h3>
<h3> Here's what we have today!</h3>
<%@items.each do |item|%>
  <h4><%=item.brand%><h4>
  <h4><%=item.model%><h4>
  <h4><%=item.price%><h4>
  <h4><%=item.description%><h4>
<%end%>

